.contato{
    margin-top: 80px;
}

.contato h2{
    text-align: center;
    color: #E6F0FA;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 32px;
    margin-bottom: 28px;
}

.contato p{
    text-align: center;
    color: #E6F0FA;
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 30px;
}

.contato .redes-sociais{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*Breakpoints*/
@media(max-width:1024px){
    .contato h2{
        font-size: 28px;
    }
}

@media(max-width:768px){
    .contato h2{
        font-size: 24px;
    }
}

@media(max-width: 620px){
    .contato h2{
        margin-bottom: 20px;
    }
}

@media(max-width:480px){
    .contato{
        margin-top: 60px;
    }
    .contato h2{
        font-size: 20px;
        margin-bottom: 16px;
    }
}

@media(max-width:320px){
    .contato{
        margin-top: 52px;
    }
}


@media(max-width:220px){
    .contato h2{
        margin-bottom: 14px;
    }
}
