.experiencia{
    margin-top: 80px;
}

.experiencia h2{
    text-align: center;
    color: #E6F0FA;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 32px;
    margin-bottom: 28px;
}

.card-experiencia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
} 

.conteudo-experiencia{
    color: #E6F0FA;
    background-color: #132950;
    padding: 20px 80px 20px 24px;
    border-radius: 4px;
}

.conteudo-experiencia p{
    font-family: 'Roboto';
    margin-bottom: 4px;
}

.conteudo-experiencia h3, span{
    font-family: 'Poppins';
}

.conteudo-experiencia h3{
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
}

.conteudo-experiencia span{
    font-size: 18px;
}

/*Breakpoints*/
@media(max-width:1024px){
    .experiencia h2{
        font-size: 28px;
    }
    .card-experiencia{
        gap: 24px;
    } 
    .img-experiencia img{
        width: 138px;
        height: 138px;
    }
    .conteudo-experiencia{
        padding: 20px 56px 20px 20px;
    }
    .conteudo-experiencia p, .conteudo-experiencia span{
        font-size: 14px;
    }
}

@media(max-width:768px){
    .experiencia h2{
        font-size: 24px;
    }
    .card-experiencia{
        gap: 18px;
    } 
    .img-experiencia img{
        width: 128px;
        height: 128px;
    }
    .conteudo-experiencia{
        padding: 16px;
    }
    .conteudo-experiencia h3{
        font-size: 18px;
        margin-bottom: 20px;
    }
}

@media(max-width: 720px){
    .card-experiencia{
        gap: 16px;
    } 
    .img-experiencia img{
        width: 120px;
        height: 120px;
    }
    .conteudo-experiencia p, .conteudo-experiencia span{
        font-size: 12px;
    }
    .conteudo-experiencia h3{
        font-size: 16px;
        margin-bottom: 18px;
    }
}

@media(max-width: 620px){
    .experiencia h2{
        margin-bottom: 20px;
    }
    .card-experiencia{
        gap: 12px;
    } 
    .img-experiencia img{
        width: 105px;
        height: 105px;
    }
    .conteudo-experiencia{
        padding: 12px;
    }
}

@media(max-width: 600px){
    .card-experiencia{
        gap: 0px;
    } 
    .img-experiencia img{
        display: none;
    }
    .conteudo-experiencia{
        padding: 14px;
    }
}

@media(max-width:480px){
    .experiencia{
        margin-top: 60px;
    }
    .experiencia h2{
        font-size: 20px;
        margin-bottom: 16px;
    }
    .card-experiencia{
        margin: 0px 10px;
    } 
    .conteudo-experiencia{
        padding: 12px;
    }
    .conteudo-experiencia p, .conteudo-experiencia span{
        font-size: 10px;
    }
    .conteudo-experiencia h3{
        font-size: 14px;
        margin-bottom: 16px;
    }
}

@media(max-width:320px){
    .experiencia{
        margin-top: 52px;
    }
}

@media(max-width: 250px){
    .conteudo-experiencia p, .conteudo-experiencia span{
        font-size: 8px;
    }
    .conteudo-experiencia h3{
        font-size: 12px;
    }
}

@media(max-width:220px){
    .experiencia h2{
        margin-bottom: 14px;
    }
}
