.header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a{
    padding: 16px 0;
    color: #E6F0FA;
    font-family: 'Poppins';
    font-weight: 400;
    display: inline-block;
    position: relative;
}

.header-menu a::after{
    content: '';
    display: block;
    background-color: #E6F0FA;
    width: 0px;
    height: 2px;
    margin-top: 4px;
    transition: .3s;
    position: absolute;
}

.header-menu a:hover::after{
    width: 100%;
}

.buttonMenu{
    display: none;
}

/*Breakpoints*/
@media(max-width: 768px){
    .buttonMenu{
        display: flex;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: .1rem 1rem;
        border-radius: 4px;
        font-family: 'Poppins';
        font-weight: 500;
        color: #E6F0FA;
        margin: 10px;
        align-items: center;
        z-index: 300;
        position: relative;
        font-size: 22px;
    }
    .icon{
        margin-right: 6px;
    }
    .header-menu{
        display: none;
        position: absolute;
        background-color: #132950;
        z-index: 200;
        padding: 70px 32px 0px 32px;
        top: 0;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .header-menu.active{
        display: block;
        animation: show-left .3s forwards;
    }
}

@media(max-width: 480px){
    
}

@media(max-width: 320px){
    
}

@keyframes show-left{
    from{
      opacity: 0;
      transform: translate3d(30px,0,0);
    }
    to{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }