.projetos{
    margin-top: 80px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.projetos h2{
    text-align: center;
    color: #E6F0FA;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 32px;
}

.cards{
    display: flex;
    gap: 40px;
    margin: 40px 20px;
}

.card-projeto-1, .card-projeto-2, .card-projeto-3{
    background-color: #132950;
    border-radius: 4px;
    text-align: center;
    color: #E6F0FA;
}

.card-projeto-1 h3, .card-projeto-2 h3, .card-projeto-3 h3{
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 28px;
    margin-bottom: 16px;
    font-size: 24px;
}

.card-projeto-1 p, .card-projeto-2 p, .card-projeto-3 p{
    margin: 0px 23px 24px 23px;
    font-size: 18px;
}

.card-projeto-1 span, .card-projeto-2 span, .card-projeto-3 span{
    font-family: 'Poppins';
    background-color: #1B3A5F;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    margin-right: 4px;
}

.links-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 26px auto 28px auto;
}

.links-projetos a{
    margin-right: 8px;
}

.bi-arrow-up-right2{
    color: #A3C9F1;
    width: 23px;
    height: 23px;
}

/*Breakpoints*/
@media(max-width:900px){
    .card-projeto-1 h3, .card-projeto-2 h3, .card-projeto-3 h3{
        font-size: 20px;
    }
    .card-projeto-1 p, .card-projeto-2 p, .card-projeto-3 p{
        margin: 0px 18px 24px 18px;
        font-size: 16px;
    }
    .card-projeto-1 span, .card-projeto-2 span, .card-projeto-3 span{
        font-size: 14px;
    }
}

@media(max-width:800px){
    .cards{
        gap: 30px;
    }
    .card-projeto-1 h3, .card-projeto-2 h3, .card-projeto-3 h3{
        font-size: 18px;
    }
    .card-projeto-1 p, .card-projeto-2 p, .card-projeto-3 p{
        margin: 0px 16px 24px 16px;
        font-size: 14px;
    }
    .card-projeto-1 span, .card-projeto-2 span, .card-projeto-3 span{
        font-size: 12px;
    }
    .bi-arrow-up-right2{
        width: 18px;
        height: 18px;
    }
    .github2{
        width: 23px;
        height: 23px;
    }
}

@media(max-width:700px){
    .cards{
        gap: 20px;
    }
    .card-projeto-1 h3, .card-projeto-2 h3, .card-projeto-3 h3{
        font-size: 16px;
    }
    .card-projeto-1 p, .card-projeto-2 p, .card-projeto-3 p{
        margin: 0px 14px 24px 14px;
        font-size: 13px;
    }
    .card-projeto-1 span, .card-projeto-2 span, .card-projeto-3 span{
        font-size: 10px;
        padding: 5px;
    }
}

@media(max-width:620px){
    .cards{
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px auto 30px auto;
        width: 300px;
    }
    .card-projeto-1 h3, .card-projeto-2 h3, .card-projeto-3 h3{
        font-size: 18px;
    }
    .card-projeto-1 p, .card-projeto-2 p, .card-projeto-3 p{
        font-size: 16px;
    }
    .card-projeto-1 span, .card-projeto-2 span, .card-projeto-3 span{
        font-size: 12px;
        padding: 6px;
    }
    .bi-arrow-up-right2{
        width: 20px;
        height: 20px;
    }
    .github2{
        width: 25px;
        height: 25px;
    }
} 

@media(max-width:380px){
    .cards{
        margin: 20px auto 30px auto;
        width: 250px;
    }
    .card-projeto-1 h3, .card-projeto-2 h3, .card-projeto-3 h3{
        font-size: 16px;
    }
    .card-projeto-1 p, .card-projeto-2 p, .card-projeto-3 p{
        font-size: 14px;
    }
    .card-projeto-1 span, .card-projeto-2 span, .card-projeto-3 span{
        font-size: 10px;
        padding: 5px;
    }
    .bi-arrow-up-right2{
        width: 18px;
        height: 18px;
    }
    .github2{
        width: 23px;
        height: 23px;
    }
} 

@media(max-width:290px){
    .cards{
        width: 220px;
    }
    .card-projeto-1 h3, .card-projeto-2 h3, .card-projeto-3 h3{
        font-size: 14px;
    }
    .card-projeto-1 p, .card-projeto-2 p, .card-projeto-3 p{
        font-size: 12px;
    }
    .card-projeto-1 span, .card-projeto-2 span, .card-projeto-3 span{
        font-size: 8px;
        padding: 4px;
    }
    .bi-arrow-up-right2{
        width: 16px;
        height: 16px;
    }
    .github2{
        width: 21px;
        height: 21px;
    }
}

@media(max-width:250px){
    .cards{
        width: 180px;
    } 
}
